<div class="title-wrap">
  <h2>{{campaign.name}}</h2>
  <div class="header-stats">
    <div class="header-stats__block">
      <label>Totals:</label>
      <h3>{{campaign.totals}}</h3>
    </div>
    <div class="header-stats__block">
      <label>Start Date:</label>
      <h3>{{campaign.startDate}}</h3>
    </div>
    <div class="header-stats__block">
      <label>End Date:</label>
      <h3>{{campaign.endDate}}</h3>
    </div>
  </div>
</div>

<div class="contents">
  <div class="title-wrap title-wrap--mid">
    <h2>Clicks</h2>
  </div>
  <table class="stat-table">
    <tr class="table-head">
      <th>Date Clicked</th>
      <th>Page Clicked</th>
    </tr>
    {{#each clicks as |click|}}
      <tr>
        <td>{{click.datetime}}</td>
        <td class="long-td">{{click.page}}</td>
      </tr>
    {{/each}}
  </table>
</div>
