<div class="title-wrap">
  <h2>Dashboard</h2>
</div>

<div class="dashboard-stats">
  {{partial "partials/social-svgs"}}
  {{#each widgets as |widget|}}
    {{stat-widgit data=widget}}
  {{/each}}
</div>

<div class="dashboard-block">
  <div class="title-wrap">
    <h2>Campaigns</h2>
  </div>

  <table class="stat-table">
    <tr class="table-head">
      <th>Name</th>
      <th>Totals</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  {{#each campaigns as |campaign|}}
    <tr>
      <td>{{#link-to 'campaign' campaign.slug}}{{campaign.name}}{{/link-to}}</td>
      <td>{{campaign.totals}}</td>
      <td>{{campaign.startDate}}</td>
      <td>{{campaign.endDate}}</td>
    </tr>
  {{/each}}
  </table>
</div>
